body {
    background-color: #a7a7a7;
    margin: 0 150px;
}

h1 {
    font-size: 2.5em;
}

a {
    color: red;
    text-decoration: none;
    border: black 3px dashed;
    margin: 20px;
    padding: 20px;
}
a:visited {
    color: orange;
}
a:focus {
    color: blue;
}
a:hover {
    color: yellow;
}

menu {
    font-size: 1.5em;
    list-style-type: none;
    display: flex;
    justify-content: center;
}